@model IEnumerable<Core.Models.EntityModels.Upload>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="popup" class="pop-up thumbnail">
    <img id="popupImage" alt="Popup image" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectoryPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var emptyImage = "../Images/empty_thumb.jpg";
        var image = item.Thumbnail != null ? "data:image;base64,"+@System.Convert.ToBase64String(item.Thumbnail) : emptyImage;
        <tr class=" hv-image" data-image="@image">
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoryPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.UploadId}) |
                @Html.ActionLink("Details", "Details", new {id = item.UploadId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.UploadId})
            </td>
        </tr>
    }

</table>
    @section styles
    {
        <style>
            #popup {
                transition: opacity .5s ease-out;
                -moz-transition: opacity .5s ease-out;
                -webkit-transition: opacity .5s ease-out;
                -o-transition: opacity .5s ease-out;
            }
            #popupImage {
                max-height: 300px;
            }
        </style>
    }
@section scripts
{
    <script type="text/javascript">
        $('#popup').hide();
        $('.hv-image').on('mouseover', function(e) {
            e.preventDefault();
            var imageSource = $(this).attr("data-image");
            $("#popupImage").attr('src', imageSource);
            $('#popup').css('position', 'absolute');
            $('#popup').css('overflow', 'hidden');
            $('#popup').css('top', e.pageY);
            $('#popup').css('left', e.pageX);
            $('#popup').show().fadeIn('slow', function() {});
        });

        $('.hv-image').on('mouseout', function(e) {
            $('#popup').hide().fadeOut('slow', function() {});
        });
    </script>
}
