@model IEnumerable<Core.Models.EntityModels.SubCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr class="info">
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubCategoryId })
        </td>
    </tr>
}

</table>
